<!DOCTYPE html>
<html class="intro-page">
<head>
    <title>Basic GIS Map Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="intro-box">
    <h1>Basic GIS Map Analyzer</h1>
    <p>Object Oriented Programming Educational Project</p>
    <div class="nav-buttons">
        <a href="/home" class="button">Enter Dashboard</a>
    </div>
</div>

</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
